* {
  margin: 0 auto;
  padding-top: 15px;
}

.row {
  border-radius: 10px;
  border-spacing: 2rem;
  color: #007bff;
}

.puppy {
  margin: 100% auto;
  padding: 4px;
  border-radius: 50%;
  border: 2px solid whitesmoke;
  width: 150px;
  height: 150px;
  object-fit: cover;
  display: block;
  justify-content: center;
  align-items: center;
}

.border {
  border: 1px solid #0f68c1 !important;
}
