.img-fluid {
  width: 100%;
  height: 200px;
  display: flex;
  object-fit: cover;
  justify-content: center;

  align-items: center;
  box-shadow: 7px 7px solid black;
  transition: transform 0.9s ease;
}

.img-fluid:hover {
  transform: scale(1.14);
}

/* New css for test*/

/* Section Styles */

.main-nav {
  width: 100%;
  background: #fefdfd;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
  display: block;
  margin-right: auto;
  color: rgba(140, 140, 140, 0);
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all 0.1s;
}
.nav a:hover {
  color: rgba(116, 116, 116, 0.257);
}

header {
  text-align: center;
  height: 200px;
  line-height: 200px;
  background-color: #007bff;
  overflow: hidden;
  padding-top: 2.7rem;
}
header {
  line-height: 1.9;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: 0.75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: 0.4;
  transition: all 0.5s;
  object-fit: cover;
}
a.twitter {
  background-image: url(images/twitter.svg);
}
a.linkedin {
  background-image: url(images/linkedin.svg);
}
a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  .flex {
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: flex;
    max-width: 1200px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0 auto;
  }

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }

  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }
}
